img {
    width: 70vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

ion-input {
    width: 50%;
    height: 4vh;
    margin: 1vh auto;
    border: 1.7px solid #00853F;
    color: #00853F;
    border-radius: 5px;
}