<ion-header class="ion-text-center">
    <ion-toolbar color="primary">
        <ion-title>Alertes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

    <ion-fab (click)="closeUp()" vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <img src="assets/notify.svg" alt="">
    <h3>Sois alerté de toutes les nouvelles concernant les élections sénégalaises directement sur WhatsApp !</h3>
    <ion-input type="number" value="00221"></ion-input>
    <ion-button primary (click)="close()">M'alerter !</ion-button>

</ion-content>